@model IEnumerable<Scheduler.Areas.Schedule.Models.EventListMonthViewModel>

<h2></h2>

@{ 
    int displayYear = ViewBag.Year;
    int displayMonth = ViewBag.Month;
}

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="8" class="text-center" id="table-year">
                    @displayYear
                </th>
            </tr>
            <tr>
                <th colspan="7" class="text-center" id="table-month">
                    @System.Globalization.CultureInfo.GetCultureInfo("en").DateTimeFormat.GetMonthName(displayMonth)
                </th>
            </tr>
            <tr>
                @foreach (string weekName in Enum.GetNames(typeof(DayOfWeek)))
                {
                    <th class="text-center">@weekName</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ int day = 1;}
            @while (day <= DateTime.DaysInMonth(displayYear, displayMonth))
            {
                <tr>
                    @for (int rowCounter = 0; rowCounter < 7; rowCounter++)
                    {
                        // Add space before day 1
                        if (day == 1 && rowCounter < ((int)new DateTime(displayYear, displayMonth, day).DayOfWeek))
                        {
                            <td></td>
                        }
                        else
                        {
                            if (day > DateTime.DaysInMonth(displayYear, displayMonth))
                            {
                                <td></td>
                            }
                            else
                            {
                                var events = @Model.Where(e => e.Day == day);

                                // change background color depend on the number of events
                                <td id=@day     
                                    @if (events.Count() < 3)
                                    {
                                        <text>style="background-color: #CDFFDC"</text>
                                    }
                                    @if (events.Count() >= 3 && events.Count() < 6)
                                    {
                                        <text>style="background-color: lightyellow"</text>
                                    }
                                    @if (events.Count() >= 6)
                                    {
                                        <text>style="background-color: #FFCDDA"</text>
                                    }
                                >
                                    <p>@day</p>
                                    @foreach (var e in events)
                                    {
                                        <p>@e.Name</p>
                                    }
                                </td>
                                
                            }
                            day++;
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



